<img src="/logo/logo.png" alt="LFG" height=72 class="mt-3 ml-5 pt-0">
<div class="container p-4 w-100 d-flex flex-column col-6 mx-auto">
    <h3 class="align-self-center">Edit Profile</h3>
    {{!-- Username --}}
    <div class="row mb-2">
        <h5>Username</h5>
        <p class="pl-4" id="username">{{user.username}}</p>
        <button class="btn btn-outline-primary btn-sm fa fa-pencil m-0 py-0 px-1 h-50" data-toggle="modal"
            data-target="#editNameModal"></button>
        <div class="modal fade" id="editNameModal" tabindex="-1" aria-labelledby="editNameModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content user-card">
                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="editNameModal">Change Username</h5>
                    </div>
                    <div class="modal-body inner-card-description border border-dark m-2 rounded">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input name="username" type="text" class="form-control" id="usernamefixed"
                                placeholder="Username" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="updateProfileUsername()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Description --}}
    <div class="row mb-2">
        <h5 class="w-100">Description</h5>
        <textarea disabled type="text" id="description" rows="4" cols="50"
            style="resize: none">{{user.description}}</textarea>
        <button class="btn btn-outline-primary fa fa-pencil mx-2 py-0 px-1 h-50 align-self-center" data-toggle="modal"
            data-target="#editDescriptionModal"></button>
        <div class="modal fade" id="editDescriptionModal" tabindex="-1" aria-labelledby="editDescriptionModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content user-card">
                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="editDescriptionModal">Change Description</h5>
                    </div>
                    <div class="modal-body inner-card-description border border-dark m-2 rounded">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" type="text" class="form-control" id="descriptionfixed"
                                placeholder="I love videogames!" rows="4">{{user.description}}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="updateProfileDescription()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Avatar --}}
    <div class="row mb-2">
        <h5 class="align-self-center">avatar</h5>
        <span>
            {{#if user.avatar}}
            <img class="mx-2" id="avatar" src="{{user.avatar}}" alt="avatar" width="50">
            {{else}}
            Choose an avatar
            {{/if}}
        </span>
        <button class="btn btn-outline-primary fa fa-pencil m-0 py-0 px-1 h-50 align-self-center" data-toggle="modal"
            data-target="#editAvatarModal"></button>
        <div class="modal fade" id="editAvatarModal" tabindex="-1" aria-labelledby="editAvatarModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content user-card">
                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="editAvatarModal">Change avatar</h5>
                    </div>
                    <form action="/update" method="POST">
                        <div class="modal-body inner-card-description border border-dark m-2 rounded">
                            <div class="form-group">
                                <label for="avatar">avatar</label>
                                <input name="avatar" type="file" class="form-control" id="avatarFixed"
                                    placeholder="avatar" value="">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="updateProfileAvatar()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!-- Birth Date --}}
    <div class="row mb-2">
        <h5>Birth Date</h5>
        <p class="mx-2" type="date" id="birthdate">{{#if user.birthdate}}{{date user.birthdate}}{{else}}Not
            defined{{/if}}</p>
        <button class="btn btn-outline-primary fa fa-pencil m-0 py-0 px-1 h-50" data-toggle="modal"
            data-target="#editBirthDateModal"></button>
        <div class="modal fade" id="editBirthDateModal" tabindex="-1" aria-labelledby="editBirthDateModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content user-card">
                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="editBirthDateModal">Change Birth Date</h5>
                    </div>
                    <div class="modal-body inner-card-description border border-dark m-2 rounded">
                        <div class="form-group">
                            <label for="birthdate">Birth Date</label>
                            <input name="birthdate" type="date" class="form-control" id="birthdatefixed"
                                placeholder="Birth Date" value="1990-02-01" placeholder="01-02-1990"
                                onfocus="(this.type='date')">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="updateProfileBirthDate()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Gender --}}
    <div class="row mb-2">
        <h5>Gender</h5>
        <p class="mx-2" id="gender">{{#if user.gender}}{{user.gender}}{{else}}Not defined{{/if}}</p>
        <button class="btn btn-outline-primary fa fa-pencil m-0 py-0 px-1 h-50" data-toggle="modal"
            data-target="#editGenderModal"></button>
        <div class="modal fade" id="editGenderModal" tabindex="-1" aria-labelledby="editGenderModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content user-card">
                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="editGenderModal">Change Gender</h5>
                    </div>
                    <div class="modal-body inner-card-description border border-dark m-2 rounded">
                        <div class="form-group">
                            <label for="genderfixed">Gender</label>
                            <select class="custom-select" id="genderfixed" required>
                                <option selected disabled value="">Choose...</option>
                                {{#each genderEnums as |enum|}}
                                <option>{{enum}}</option>
                                {{/each}}
                            </select>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="updateProfileGender()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Language --}}
    <div class="row mb-2">
        <h5>Language</h5>
        <p class="px-4" id="language">{{#if user.language}}{{#each user.language as |lang|}}| {{lang}} {{/each}}
            |{{else}}Not
            defined{{/if}}</p>
        <button class="btn btn-outline-primary fa fa-pencil m-0 py-0 px-1 btn-sm h-50" data-toggle="modal"
            data-target="#editLanguageModal"></button>
        <div class="modal fade" id="editLanguageModal" tabindex="-1" aria-labelledby="editLanguageModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content user-card">
                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="editLanguageModal">Languages</h5>
                    </div>
                    <div class="modal-body inner-card-description border border-dark m-2 rounded">
                        <div class="form-group">
                            <label for="languagefixed">Languages</label>
                            <select multiple class="custom-select" id="languagefixed" required>
                                <option selected disabled value="">Choose...</option>
                                {{#each langEnums as |lang|}}
                                <option>{{lang}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="updateProfileLang()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Region --}}
    <div class="row mb-2">
        <h5>Region</h5>
        <p class="px-4" id="region">{{#if user.region}}{{user.region}}{{else}}Not defined{{/if}}</span>
            <button class="btn btn-outline-primary fa fa-pencil m-0 py-0 px-1  btn-sm" data-toggle="modal"
                data-target="#editRegionModal"></button>
        <div class="modal fade" id="editRegionModal" tabindex="-1" aria-labelledby="editRegionModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content user-card">
                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="editRegionModal">Change Region</h5>
                    </div>
                    <div class="modal-body inner-card-description border border-dark m-2 rounded">
                        <div class="form-group">
                            <label for="regionfixed">Region</label>
                            <select class="custom-select" id="regionfixed" required>
                                <option selected disabled value="">Choose...</option>
                                {{#each regionEnums as |enum|}}
                                <option>{{enum}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="updateProfileRegion()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Games --}}
    <div class="row mb-2">
        <h5>Games</h5>
        <p class="px-4" id="games">{{#if user.games}}{{#each user.games as |game|}}| {{game.name}} {{/each}}
            |{{else}}Not
            defined{{/if}}</p>
        <button class="btn btn-outline-primary fa fa-pencil m-0 py-0 px-1 btn-sm h-50" data-toggle="modal"
            data-target="#editGameModal"></button>
        <div class="modal fade" id="editGameModal" tabindex="-1" aria-labelledby="editGameModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content user-card">
                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="editGameModal">Games</h5>
                    </div>
                    <div class="modal-body inner-card-description border border-dark m-2 rounded">
                        <div class="form-group">
                            <label for="gamesfixed">Games</label>
                            <select multiple class="custom-select" id="gamesfixed" required>
                                <option selected disabled value="">Choose...</option>
                                {{#each games as |game|}}
                                <option>{{game.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="updateProfileGames()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Tags --}}
    <div class="row mb-2">
        <h5>Game Tags</h5>
        <div class="row border border-dark py-2">
            {{#each user.gameTags as |tag|}}
            {{#unless @first}}
            <div class="col-6">
                <p class="font-weight-bold">{{@key}}
                    <span id="{{@key}}" class="font-weight-normal"> {{tag}}#</span>
                    <button class="btn btn-outline-primary fa fa-pencil m-0 py-0 px-1" data-toggle="modal"
                        data-target="#edit{{@key}}Modal"></button>
                </p>
            </div>

            {{!-- modal --}}
            <div class="modal fade" id="edit{{@key}}Modal" tabindex="-1" aria-labelledby="edit{{@key}}Modal"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content user-card">
                        <div class="modal-header border-0">
                            <h5 class="modal-title" id="edit{{@key}}Modal">Change {{@key}} Tag</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body inner-card-description border border-dark m-2 rounded">
                            <div class="form-group">
                                <label for="{{@key}}">{{@key}} Tag</label>
                                <input name="{{@key}}" type="text" class="form-control" id="{{@key}}fixed"
                                    placeholder="{{@key}}" value="">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="updateProfileGameTag({{@key}})">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>
    {{#unless user.activation.profileFinished}}
    <p id="completeWarning" class="mb-0">Please complete all the required fields</p>
    {{/unless}}
    <a href="/lfg" id="lfg"
        class="btn btn-primary w-50 align-self-center {{#unless user.activation.profileFinished}}disabled{{/unless}}">Look
        For
        Gamers</a>
</div>